/* Ajustes gloabais no main que ira refletir em todas as paginas*/

.container{
    max-width: 1292px;
    padding: 0 16px;
    margin-top: 24px;
    margin-bottom: 40px;
}

@media screen and (min-width: 1026px) {
    .container{
        margin-top: 40px;
    }
}